* {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    /* border: 2px solid black; */
    box-sizing: border-box;
}

.list.frontpage {
    font-size: 24px;
    width: 600px;
    margin: 0 auto;
}

.image {
    width: 800px;
    height: auto;
    display: block;
    margin: auto;
}



h1 {
    background-color: #799bd1;
    text-align: center;
}

.contents {
    width: 800px;
    margin: 0 auto;
}